.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  font-size: larger;
  color: var(--color-neutral-transparent);
}

.contact-heading {
  margin: 2rem 0;
}

.contact-heading p {
  margin-top: 0.5rem;
}

a,
.contact-heading h1 span {
  color: var(--color-neutral);
}

.contact-links {
  margin-bottom: 2rem;
}

.contact-links img {
  margin: 0 1rem;
}

#heart {
  color: red;
}
